html{
    background-color: white;
}
body{
    color: black;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    justify-content: space-evenly;
    gap: 4rem;

    background-color: bisque;    
}

.images{
    height: 19rem;
    width: 14rem;
    object-fit: cover;
}

.modal{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    top:0;
    left:0;

    width:100%;
    height:100%;
}

.modal_body{
    position:absolute;
            top:50%; 

            width:400px;   
            height:600px;  

            padding:40px;  

            text-align: center;

            background-color: white; 
            border-radius:10px; 
            box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

            transform:translateY(-50%); 
}

.hidden{
    display: none;
}

.hidden2{
    display: none;
}