html{
    background-color: white;
}
body{
    color: black;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    justify-content: space-evenly;
    gap: 4rem;

    background-color: bisque;    
}

.images{
    height: 19rem;
    width: 14rem;
    object-fit: cover;
}